= form_for @comic, html: {multipart: true}, url: {action: "update", method: 'put'} do |f|
  = f.label :title
  %br/
  = f.text_field :title, size: 40
  %br/
  %br/
  = f.label :hover_text
  %br/
  = f.text_field :hover_text, size: 40
  %br/
  %br/
  = f.label :image
  %br/
  = f.file_field :image, size: 40
  %br/
  %br/
  = f.submit "Update B-)"
