<h1><%= @comic.title %></h1>
<% if @comic.image_file_name %>
  <br /><br />
  <%= image_tag(@comic.image.url, title: @comic.hover_text) %>
<% end %>
<br/><br/>
<% if current_admin %>
  <%= link_to "Edit", edit_comic_path(@comic.id) %> |
  <%= link_to "Delete", @comic, method: :delete %>
<% end %>
<br />
<%= link_to_if(@comic != Comic.first, 'prev', comic_path(@comic.id - 1)) %> |
<%= link_to 'random', comic_path(@random) %> |
<%= link_to_if(@comic != Comic.last, 'next', comic_path(@comic.id + 1)) %>
