- if @comic.image_file_name
  .container.comic-container
    .row.comic-title= @comic.title
    .row.comic-image
      .col-md-10.col-md-offset-1
        = image_tag(@comic.image.url, title: @comic.hover_text)
    - if current_admin
      .row.admin-links
        = link_to "Edit", edit_comic_path(@comic.id)
        = link_to "Delete", @comic, method: :delete
    .row.comic-nav-links
      - if(@prev)
        = link_to('prev', comic_path(@prev), data: {keybinding: 'left'}, title: 'shortcut: left')
      = link_to 'random', comic_path(@random),
        data: {keybinding: '?'},
        title: 'shortcut: ?'
      - if(@next)
        = link_to('next', comic_path(@next), data: {keybinding: 'right'}, title: 'shortcut: right')
