<h1><%= @comic.title %></h1>
<img src= <%= '../' + @comic.img_path %> alt= <%= @comic.hover_text %> title= <%= @comic.hover_text %> width='800' height='600'/> 
<br/><br/>
<% if current_admin %>
  <%= link_to "Edit", edit_comic_path(@comic.id) %>
<% end %>