!!!
%html
  %head
    %title Hamstermom | Webcomic, Blog, Way of life
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{'ng-app' => 'hmomApp'}
    .row-fluid.notifications
      - if current_admin
        You are signed in as #{current_admin.email}.
        \#{link_to 'sign out', destroy_admin_session_path, :method => :delete}
    .notice= notice
    .alert= alert
    %center
      = yield
      #{link_to "home", root_path}
      #{link_to "archive", comics_path}
      #{link_to "about", about_path}
      #{link_to "contact", contact_path}
      #{link_to "other comics i enjoy", othercomics_path}
