!!!
%html
  %head
    %title Hamstermom | Webcomic, Blog, Way of life
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{'ng-app' => 'hmomApp'}
    .row-fluid.notifications
      - if current_admin
        You are signed in as #{current_admin.email}.
        #{link_to 'sign out', destroy_admin_session_path, :method => :delete}
    .notice= notice
    .alert= alert
    %center
      .conatiner.header= link_to image_tag('hmom-logo.png'), root_path, data: {keybinding: 'h'}
      = yield
      .container.nav-foot
        .row
          #{link_to "archive", comics_path, data: {keybinding: 'a'}}
          #{link_to "about", about_path, data: {keybinding: 'a b'}}
          #{link_to "contact", contact_path, data: {keybinding: 'c'}}
          #{link_to "other comics i enjoy", othercomics_path, data: {keybinding: 'o'}}
      .sign-in= link_to nil, new_admin_session_path, data: {keybinding: 'command+shift+s'}
