!!!
%html
  %head
    %title Hamstermom | Webcomic, Blog, Way of life
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    - if current_admin
      You are signed in as #{current_admin.email}.
      \#{link_to 'sign out', destroy_admin_session_path, :method => :delete}
    %center
      = yield
      %br/
      %br/
      \#{link_to "Home", root_path}
      |
      \#{link_to "Archive", comics_path}
      |
      \#{link_to "About", about_path}
      |
      \#{link_to "Contact", contact_path}
      |
      \#{link_to "Other Comics I Enjoy", othercomics_path}
